/* цвет основного текста color: #212121;
цвет вторичного текста   color: #757575;
основной цвет background: #FFFFFF;
цвет Hero & footer #2F303A
синий цвет #2196F3
цвет background команды #F5F4FA
 */

  /* Declaring Variables */
  :root {
    --accent-color: #2196F3;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --main-background-color: #ffffff;
    --secondary-background-color: #F5F4FA;
    --hero-background-color: #2F303A;
    --footer-background-color: #2F303A;
    --footer-adress-color: rgba(255, 255, 255, 1);
    --footer-link-color: rgba(255,255,255,0.6);
    --logo-footer-second-part-color: #ffffff;
    --logo-header-second-part-color: #000000;
}



body {
color: var(--primary-text-color);
background-color: var(--main-background-color);
font-family: Roboto, sans-serif;
letter-spacing: 0.03em;
}

/* Class visually-hidden for headers */
.visually-hidden {
position: absolute;
clip: rect(0 0 0 0);
width: 1px;
height: 1px;
margin: -1px;
}

/* Fonts for headers */
h1, h2, h3, h4,h5,h6 {
font-family: Roboto;
}
/* end fonts for headers */

/* --link decoration --*/
a {
text-decoration: none;
}
/* --- end link decoration */

/* List decoration */
ul {
list-style: none;
}
/* end list decoration */

/*======Header===== */

/* ===Logo style=== */
.logo {
color: var(--accent-color);
font-family: Raleway;
font-size: 26px;
line-height: 1.2;
}
.logo-header {
color: var(--primary-text-color);
}
.logo-footer {
color: var(--logo-footer-second-part-color);
}
/* === end logo style === */

/* Site nav */
.site-nav .link {
color: var(--primary-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
color: var(--accent-color);
}

/* Contacts nav */
.contacts .link {
color: var(--secondary-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.contacts .link:hover,
.contacts .link:focus {
color: var(--accent-color);
}
/* == end nav == */

/* ====End header=== */

/* ===Footer==== */
.footer {
background-color: var(--footer-background-color);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
}
.adress {
color: var(--footer-adress-color);
}
.link {
color: var(--footer-link-color);
}
/* ===End footer */